.contenedorDetails{
    font: 1em 'Fira Sans', sans-serif ;
    background-position: center center;
    background-image: url("https://img.freepik.com/vector-gratis/bon-appetit-patron-fondo-transparente-ingredientes-dispersos-utensilios-cocina-hacer-pasta-ravioles-italianos-formato-cuadrado-adecuado-papel-tapiz-tela_1284-44086.jpg?w=2000");
    display: flex;
    height: 920px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.detailTitulo{
    border: solid 2px ;
    background: grey;
    margin: 10px;
    border-radius: 0.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.texto{
    border: solid 1px;
    background: grey;
    margin: 10px;
    border-radius: 0.7em;
}
.contenedorInterno{
    display: flex;
    flex-direction: column;
}
.tablaSummary{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.h1{
    color: #ffa260;
    justify-content: center;
    opacity: 0.8;
    background: hsl(227, 10%, 10%);
    border: solid 2px #ffa260;
    border-radius: 0.7em;
    width: 900px;
    margin: 30px;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
}
.h3{
    background: #ffa260;
    border: solid #ffa260;
    border-radius: 0.7em;
    justify-content: center;
    display: flex;
    margin: 10px;
}
li{
    list-style: none; 
}
p{
    justify-content: center;
}
.contenedorTablas{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.pDiets{
    background: grey;
    border: solid black 2px;
    padding: 7px;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pScore{
    background: grey;
display: block;
border: solid black 2px;
width: 100%;
border-radius: 0.7em;
padding: 7px;
}