body{
    
        margin: 0;
        text-align: center;
        /* height: 100vh; */
        font: 1em 'Fira Sans', sans-serif ;
        background-position: center center;
        background-image: url("https://img.freepik.com/vector-gratis/bon-appetit-patron-fondo-transparente-ingredientes-dispersos-utensilios-cocina-hacer-pasta-ravioles-italianos-formato-cuadrado-adecuado-papel-tapiz-tela_1284-44086.jpg?w=2000");
        /* display: flex; */
        display: flex;
        /* height: 100%; */
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        flex-direction: column;
        justify-content: space-evenly;
}

.card{
    border-color: black;
}

.paginado  {
    gap: 30px;
    display: flex;
    flex-direction: row;
    
}
.navPaginado{
    display: flex;
    gap: 5px;
    flex-direction: row;
}


.divPaginado{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cardConteinter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
}

.searchBar{
    border: 1px solid grey;
    background-color: grey;
    margin-top: 5px;
    
    display: flex;
    justify-content: flex-end;
}