.pError{
    width: 20vh;
    font-size: large;
    color: red;
}
.botonBorrado{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: solid 2px;
    border-radius: 0.7em;
}
.divLabel{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form{
    width: 700px;
}
.contenedorPlantilla{
    margin-top: 200px;
    background: grey;
    /* margin: auto; */
    margin: auto 45vh auto 45vh;
    border: solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    border-radius: 0.7em;
}
input{
    width: 200px;
    border-radius: 0.7em;
    border: 2px solid;
    font: inherit;
    margin: 0.5em;
    padding: 0.7em 2em;
}
select{
    width: 200px;
    border-radius: 0.7em;
    border: 2px solid;
    font: inherit;
    margin: 0.5em;
    padding: 0.7em;
}
.divDelete{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}
.botonDelete{
    background: red;
    opacity: 0.7;
    border: 1px solid;
    border-radius: 0.7em;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70vh;
}
.labelInput{
    display: flex;
    justify-content: center;
    border: solid 1px;
    border-radius: 0.7em;
    flex-wrap: wrap;
    width: 50vh;
    margin: auto;
}
.label{
    margin: 5px;  
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputDiets{
    margin: 0.2em;
    width: auto;
}